<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1> Battle Board </h1>

<form action="/messages" method="POST">
   <input type="text" name="title"> post title
   <input class="form-control" rows="3" type="text" name="content"> post comment</input>
   <button>Submit</button>
   </form>

<% messages.forEach(function(message) { %>
  
   <div class="card">
      <div class="card-header">
         <a href="/messages/<%= message._id %>"> <%= message.title %> </a>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= message.content %></p>
          <footer class="blockquote-footer"><%= message.author.name %></footer>
        <a href="/messages/<%= message._id %>"><button>reply to post</button></a>
        
        
        <% if (user.profile._id.toString() === message.author._id.toString()) { %>
         <a 
                 class="btn btn-warning"
                 role="button" 
                 href="/messages/<%= message._id %>/edit"
               >
                 Edit message
               </a>
       <% } %> 
     
       <form 
        class="text-center" 
        action="/messages/<%= message._id %>/?_method=DELETE" 
        method="POST"
      >
        <button class="btn btn-danger">
          Remove Post
        </button>
      </form>    
     
         </blockquote>
      </div>
    </div>
 
<% }) %> 

<%- include('../partials/footer') %>

