<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

Battle Board
<a href="/messages/new">Add a message</a>
<ul>
<% messages.forEach(function(message) { %>
   <li><h2><%= message.title %></h2></li>
   <li><h3><%= message.content %></h3></li>
   <%= //message.author %>

<% }) %> 
</ul>
<%- include('../partials/footer') %>