<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

Battle Board
<a href="/messages/new">Add a message</a>

<form action="/messages" method="POST">
   <input type="text" name="title"> post title
   <input type="text" name="content"> post comment
   <button>Submit</button>
   </form>


<% messages.forEach(function(message) { %>
  
   <div class="card">
      <div class="card-header">
         <a href="/messages/<%= message._id %>"> <%= message.title %> </a>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= message.content %></p>
          <footer class="blockquote-footer"><%= message.author %></footer>
        <button href="/messages/<%= message._id %>">reply to post</button>
         </blockquote>
      </div>
    </div>

 
<% }) %> 

<%- include('../partials/footer') %>

