<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<style>
  h2{
    text-align: center;
  }
</style>

<div id='posts' class="py-3">
      <div class="card" style="width: 35rem;" id="postCard">
        <div class="card-header">
          <h3 class="fs-3 fst-italic"><%= message.title %></h3>
        </div>
        <h3 class="fs-4 pb-2 pl-4"><%= message.content %> </h3>
        <h4 class="card-body">
          written by 
          <a 
            href="/profiles/<%= message.author._id %>"
            class="text-decoration-none"
          >
            <%= message.author.name %>
              - <%= message.createdAt.toLocaleDateString() %>
          </a>
        </h4>
      </div>
  </div>
    <% if (message.replies.length) { %>
      <h2 class="fs-4 text-light">All Replies</h2>
    <% } %>
     

<div id='posts'>
    <% message.replies.reverse().forEach(reply => { %>
         <div class="card" style="width: 35rem;">
          <div class="card-body">
          <h4 class="mb-0 fs-5 pb-3"> 
            <p class="lead my-3"><%= reply.content %> </p>
          </h4>
            <a 
            href="/profiles/<%= reply.author._id %>"
            class="text-decoration-none"
            >
            <footer class="blockquote-footer">
              <%= reply.author.name %>
              - <%= reply.createdAt.toLocaleDateString() %>
          </footer>
            </a>
          </div>
        </div>
    <% }) %>
  </div>


    
    <form action="/messages/<%= message._id %>" method="POST" class="mb-3">
      <h2 class="mb-3 fs-4 text-light">Write a Reply</h2>
      <div class="mb-3 mx-5">
        <label for="reply-content" class="form-label"></label>
        <textarea 
          class="form-control" 
          id="reply-content" 
          rows="3" 
          name="content"
        ></textarea>
      </div>
      <button class="btn btn-primary ms-5" type="submit">Reply</button>
    </form>
  </main>

<%- include('../partials/footer') %>