<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<style>
  h1{
    color: white;
    text-align: center;
  }
</style>

<h1>Cards Search Results:</h1>

<% if (results) { %>
    <main>
      <div class="container py-5 px-3">
        <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 g5 px-sm-2 px-4">
          <% results.data.forEach(card => { %>
            <% results.data[0] = card %> 
            <div class="col">
              <div class="card bg-dark shadow-sm mt-3">
                <% if (results.data[0].card_images[0].image_url) { %>
                  <img
                    class="card-img-top"
                    src="<%= results.data[0].card_images[0].image_url %>"
                    alt="<%= results.data[0].name %>'s image"
                    width="100%"
                    height="100%"
                  />
                <% } else {%>
                  <img
                    class="card-img-top"
                    src="https://cdn.shopify.com/s/files/1/1425/8892/products/KON74145--Yu-Gi-Oh-Card-Back-Sleeves-50ct_da77d52d-fbd1-472c-8d87-243660b780ff_1024x1024.jpg?v=1597209386"
                    alt="A placeholder card"
                    width="100%"
                    height="170"
                  />
                <% } %>

                <div class="card-body">
                  <p class="card-title fs-4 text-light">name: <%= results.data[0].name %></p>
                  <p class="card-text fs-5 text-light">card type: <%= results.data[0].type %></p>
                  <p class="card-text fs-5 text-light">card archetype: <%= results.data[0].race %></p>
                  <p class="card-text fs-5 text-light"> <%= results.data[0].atk ? "atk:" : ""  %>  <%= results.data[0].atk %></p>
                  <p class="card-text fs-5 text-light"> <%= results.data[0].def ? "def:" : ""  %> <%= results.data[0].def %></p>
                  <p class="card-text fs-5 text-light">description: <%= results.data[0].desc %></p>
                  <p class="card-text fs-5 text-light"><%= results.data[0].attribute ? "attribute:" : ""  %><%= results.data[0].attribute %></p>                

                  <form action="/cards/<%= results.data[0].id %>/addToDeck  " method="POST">
                    <select name="addedToDeck">
                      <% profile.decks.forEach(deck => { %>
                      <option value="<%= deck._id %>"><%=  deck.name %></option>
                     <% }) %>

                    </select>
                    <input type="hidden" name="name" value="<%=results.data[0].name%>">
                    <input type="hidden" name="attack" value="<%=results.data[0].atk %>">
                    <input type="hidden" name="defense" value="<%=results.data[0].def%>">
                    <input type="hidden" name="description" value="<%=results.data[0].desc%>">
                    <input type="hidden" name="type" value="<%=results.data[0].type%>">
                    <input type="hidden" name="attribute" value="<%=results.data[0].attribute%>">
                    <input type="hidden" name="archetype" value="<%= results.data[0].race %>">
                    <input type="hidden" name="ygoId" value="<%=results.data[0].id%>">
                    <input type="hidden" name="imageUrl" value="<%=results.data[0].card_images[0].image_url%>">                   
                                       
                    <button>Submit</button>
                  </form>
                </div>
              </div>
            </div>
            <% }) %> 
        </div>
      </div>
    </main>
  <% } %> 

<%- include('../partials/footer') %>