<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Cards result page new.ejs </h1>


<% if (results) { %>
  <% //console.log("results.data[0].card_images.image_url", results.data[0].card_images[0].image_url) %> 
  <% console.log("results.data[0].name", results.data[0].name) %> 
    <main class="bg-light">
      <div class="container py-5 px-3">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g5 px-sm-5 px-4">
          <% //results.data[0].forEach(card => { %>
            <div class="col">
              <div class="card bg-dark shadow-sm mt-3">
                <% if (results.data[0].card_images[0].image_url) { %>
                  <img
                    class="card-img-top"
                    src="<%= results.data[0].card_images[0].image_url %>"
                    alt="<%= results.data[0].name %>'s image"
                    width="100%"
                    height="100%"
                  />
                <% } else {%>
                  <img
                    class="card-img-top"
                    src="/images/icons/user.png"
                    alt="A placeholder avatar"
                    width="100%"
                    height="170"
                  />
                <% } %>
                <div class="card-body">
                  <p class="card-title fs-4 text-light">name: <%= results.data[0].name %></p>
                  <p class="card-title fs-4 text-light">type: <%= results.data[0].race %></p>
                  <p class="card-text fs-5 text-light">atk <%= results.data[0].atk %></p>
                  <p class="card-text fs-5 text-light">def <%= results.data[0].def %></p>
                  <p class="card-text fs-5 text-light">description: <%= results.data[0].desc %></p>
                  <p class="card-text fs-5 text-light">attribute: <%= results.data[0].attribute %></p>
                 
                  <%# This is where our game show UI will go %>  add card right from our search page
                  <% //results.id should send me to details on the searched card? %> 
                  <!-- <a href="/cards/<%= results.data[0].id %>" class="btn btn-primary">Details</a> -->
                  <!-- <a href="/cards/<%= results.data[0].name %>" class="btn btn-primary">Details</a> -->


                  <form action="/cards" method="POST">
                    <input type="hidden" name="name" value="<%=results.data[0].name%>">
                    <input type="hidden" name="attack" value="<%=results.data[0].atk%>">
                    <input type="hidden" name="defense" value="<%=results.data[0].def%>">
                    <input type="hidden" name="description" value="<%=results.data[0].desc%>">
                    <input type="hidden" name="type" value="<%=results.data[0].race%>">
                    <input type="hidden" name="ygoId" value="<%=results.data[0].id%>">
                    <input type="hidden" name="attribute" value="<%=results.data[0].attribute%>">
                    <input type="hidden" name="imageUrl" value="<%=results.data[0].card_images[0].image_url%>">
                    <button>Submit</button>
                  </form>
                </div>
              </div>
            </div>
            <% //}) %> 
        </div>
      </div>
    </main>
  <% } %> 

<%- include('../partials/footer') %>