<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

    <a href="/decks/new">Create a Deck</a>

    <% decks.forEach(deck => { %>
        <a href="/decks/<%= deck._id %> "><h2><%= deck.owner.name %>'s - <%=  deck.name  %> Deck</h2></a>
          
              <% if (deck.cards.length >= 1) {%>
                <img
                  src="<%= deck.cards[0].imageUrl %>"
                  alt="<%= deck.cards.name %>'s image"
                  width="200px"
                />
              <% } else {%>
                <img
                src="https://cdn.shopify.com/s/files/1/1425/8892/products/KON74145--Yu-Gi-Oh-Card-Back-Sleeves-50ct_da77d52d-fbd1-472c-8d87-243660b780ff_1024x1024.jpg?v=1597209386"
                alt="A placeholder avatar"
                width="200px"
                />
              <% } %>  
    <% }) %> 

<%- include('../partials/footer') %>