<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
    Decks index
    <% decks.forEach(deck => { %>
        <a href="/decks/<%= deck._id %> "><h2><%=  deck.name  %></h2></a>
    <% }) %> 

<%- include('../partials/footer') %>