<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<style>
  .card{
    margin: 20px;
  }
</style>

<div class="container py-5 px-3">
  <div 
    class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g5 g-sm-3 g-xxl-5 px-sm-5 px-4"
  >
    <% decks.forEach(deck => { %>
      <div class="card bg-dark" style="width: 18rem;">
      
      <% if (deck.cards.length >= 1) {%>
        <img
        src="<%= deck.cards[0].imageUrl %>"
        alt="<%= deck.cards.name %>'s image"
        class="card-img-top"
        width="250px"
        height="350px"
        />
        <% } else {%>
          <img
          src="https://cdn.shopify.com/s/files/1/1425/8892/products/KON74145--Yu-Gi-Oh-Card-Back-Sleeves-50ct_da77d52d-fbd1-472c-8d87-243660b780ff_1024x1024.jpg?v=1597209386"
          alt="A placeholder avatar"
          width="250px"
          height="350px"
          />
          <% } %>  

          <div class="card-body bg-dark">
          <a href="/decks/<%= deck._id %> "><h2><%= deck.owner.name %>'s - <%=  deck.name  %> Deck</h2></a>
         </div>
        </div>
    <% }) %> 
  </div>
</div>

<%- include('../partials/footer') %>

  
  
    
 